<div class="row row-offcanvas row-offcanvas-left">
  <!-- main area -->
  <div class="col-sm-10 col-xs-12" id="main">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class='form-group'>
          <form action="/" method="get" accept-charset="utf-8">
            <label for="agent">Agent</label>
            <select name="agent" id="agent" class='form-control' required='required'>
              <% @agencies.each do |agent| %>
                <option value='<%=h agent %>' <%= 'selected' if agent == params[:agent] %> ><%= agent.gsub(/_/, ' ') %></option>
              <% end %>
            </select>
            <label for="relationship1">1st Relationship</label>
            <select name="relationship1" id="relationship1" class='form-control' required='required'>
              <% @relationships.each do |relationship| %>
                <option value=<%= relationship %> <%= 'selected' if relationship == params[:relationship1] %> ><%= relationship %></option>
              <% end %>
            </select>
            <label for="relationship2">2nd Relationship</label>
            <select name="relationship2" id="relationship2" class='form-control'>
              <option value=''>Please select...</option>
              <% @relationships.each do |relationship| %>
                <option value=<%= relationship %> <%= 'selected' if relationship == params[:relationship2] %> ><%= relationship %></option>
              <% end %>
            </select>
            <label for="relationship3">3rd Relationship</label>
            <select name="relationship3" id="relationship3" class='form-control'>
              <option value=''>Please select...</option>
              <% @relationships.each do |relationship| %>
                <option value=<%= relationship %> <%= 'selected' if relationship == params[:relationship3] %> ><%= relationship %></option>
              <% end %>
            </select>
            <br/>
            <input type="submit" name="submit" id="submit" value="submit" class='btn btn-primary pull-right' />
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <% if @output %>
          <h2 for="output">Result</h2>
          <p>
            <ul>
              <% names = [] %>
              <% @output.each_with_index{|o, index| names << o["id"] if (index %  3) == 0 } %>
              <% names.uniq! %>
              <% name_size = names.size %>
              <% skip_index = -1 %>
              <% @output.each_with_index do |o, index| %>
                <% if index % 3 == 0 %>
                  <% if names.include? o["id"] %>
                    <li><h3><%= o["id"] %></h3></li>
                    <% name = names.shift %>
                    <% if name_size < 11 %>
                      <% action = "http://api.trove.nla.gov.au/result?key=mqhgg10dcrjr7jif&zone=picture,newspaper&q=#{name}&encoding=json" %>
                      <% picture = JSON.parse(HTTParty.get(URI.escape(action)).body) %>
                      <% works = picture["response"]["zone"].first["records"]["work"] %>
                      <% next unless works %>
                      <strong>Pictures: </strong>
                      <div>
                        <% works.each do |work| %>
                          <% identifiers = work["identifier"] %>
                          <% next unless identifiers %>
                          <% identifiers.each do |identifier| %>
                            <img src='<%= identifier["value"] %>' />
                          <% end %>
                        <% end %>
                      </div>
                      <% articles = picture["response"]["zone"].last["records"]["article"] %>
                      <% next unless articles %>
                      <strong>Articles: </strong>
                      <ul>
                        <% articles.each_with_index do |article,index| %>
                          <% next if index > 5 %>
                          <li>
                            <p><%= article["snippet"] %><a href='<%= article["troveUrl"] %>' title='<%= name %>' target="_blank">View</a></p>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  <% else %>
                    <% skip_index = index %>
                    <% next %>
                  <% end %>
                <% elsif index % 3 == 1 %>
                  <% next if (skip_index + 1) == index %>
                  <li>Start date: <strong><%= o["id"] %></strong></li>
                <% else index % 3 == 2 %>
                  <% if ( skip_index + 2 ) == index %>
                    <% skip_index = 0 %>
                    <% next %>
                  <% else %>
                    <li>End date: <strong><%= o["id"] %></strong></li>
                    <hr/>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </p>
        <% else %>
          No result
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <button name="run" id="run_button" value="graph" class='btn btn-primary'/>Plot Relationship Graph</button>
        <div id='viz'></div>
      </div>
    </div>
  </div> <!--/#main-->
</div> <!--/.row-->

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#run_button").click(function() {
      $.get("/.json" + window.location.search)
        .done(function(return_data) {
          $("#viz").empty()
          if (return_data.hasOwnProperty("nodes")) {
            var net = Network()
            net("#viz", return_data)
          }
        });
    });
  })
</script>
